__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
.env

data/*.parquet
models_saved/*.pkl
models_saved/*.pt
results/*.csv
results/*.png
results/*.json

.ipynb_checkpoints/
.pytest_cache/
.DS_Store
.idea/
.vscode/
